* {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	background: black;
}

/* Celular */
@media (max-width: 768px) {
	body {
		height: 100%;
		color: rgb(255, 120, 0);
		color: #f1f1f1;
	}

	#status {
	}

	#infos {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	#infos > div {
		margin: 2%;
		text-align: center;
	}

	.editable {
		border-bottom: 1px solid #444;
    padding-bottom: 2px;
		text-align: center;
		font-size: 1rem;
		outline: none;
	}

	.editable-subtext {
		font-size: 0.7rem;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #aaa;
	}

  .over-editable {
		border-top: 1px solid #444;
    padding-top: 2px;
		text-align: center;
		font-size: 1rem;
		outline: none;
	}

	.over-editable-subtext {
		font-size: 0.7rem;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #aaa;
	}

	#life-bar-display {
	}

	#life-bar {
		width: 95%;
		background: #111;
		border: solid #444;
		margin: 0 auto;
		text-align: center;
		outline: none;
		padding: 1%;
		overflow: hidden;
		position: relative;
	}

	#life-amount {
		height: 100%;
		width: 100%;
		background: linear-gradient(90deg, #f00, #ff4500);
		transition: width 0.3s ease;
	}

	#life-bar > span {
		outline: none;
		background: none;
	}

	#life-bar-controls {
		display: flex;
		justify-content: space-evenly;
	}

	#life-bar-controls > div {
		color: rgba(255, 255, 255, 0.5);
		font-size: 0.85em;
		margin: 0;
		text-align: center;
	}

	#dice-saves {
		display: flex;
		justify-content: space-evenly;
		margin-top: 3.5%;
	}

	#death-saving {
		text-align: center;
	}

	input {
		margin: 0;
		border-radius: 50%;
	}

	#attributes-label,
	#attributes {
		display: flex;
		justify-content: space-around;
		margin-top: 3.5%;
		text-align: center;
	}

	.att {
		display: flex;
		flex-direction: column;
		text-align: center;
		outline: none;
	}

	.mod {
		color: #777;
		outline: none;
		text-decoration: overline;
	}

	.att > span {
		outline: none;
	}

	#resistance-saves {
		text-align: center;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	#saves-content {
		display: flex;
		justify-content: space-evenly;
	}

	#skills {
    margin-top: 3%;
		display: grid;
		grid-template-columns: repeat(2, minmax(5px 1fr));
		grid-auto-flow: column;
		grid-template-rows: repeat(9, auto);
		gap: 1px 1px;
	}

	.skill {
		font-size: 0.75em;
    width: 100%;;
		outline: none;
		display: flex;
		align-items: center;
		gap: 6px;
	}
	.skill > span {
		outline: none;
	}
}

/* PC */
@media (min-width: 769px) {
	body {
		color: #f1f1f1;
		color: rgb(85, 0, 255);
	}
}
